.login_section {
  background-color: #0d6efd;
  display: flex;
  justify-content: center;
  min-height: 90vh;
  height: calc(100% - 60px);
}
.login_secction__container {
  max-width: 530px;
  width: 100%;
  min-height: 420px;
  height: 100%;
  background-color: #ffffff;
  border-radius: 6px;
  margin: 50px 20px 0;
}
.login_secction__container h3 {
  font-size: 28px;
  padding: 28px 0;
  text-align: center;
  color: #212529;
  background-color: rgba(0, 0, 0, 0.03);
  font-weight: normal;
  border-bottom: 1px solid #ced4da;
}

.login_secction__container form {
  padding: 0 24px;
}
.login_secction__container form input {
  margin-top: 18px;
}
.login_secction__container form .text_input {
  display: block;
  width: 100%;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 6px;
  outline: none;

  color: #000;
}
.form_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}
.form_bottom a {
  color: #0d6efd;
  text-decoration: underline;
  transition: 200ms;
}

.form_bottom a:hover {
  color: #0a58ca;
  text-decoration: underline;
}
.form_bottom button {
  padding: 6px 12px 10px;
  background-color: #0d6efd;
  color: #fff;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: 200ms;
}
.form_bottom button:hover {
  background-color: #0a58ca;
}
.login_secction__container__footer {
  display: block;
  font-size: 14px;
  padding: 24px;
  text-align: center;
  color: #0d6efd;
  text-decoration: underline;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid #ced4da;
  transition: 200ms;
  margin-top: 24px;
}
.login_secction__container__footer:hover {
  color: #0a58ca;
}
.login_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 24px;
  background-color: #f8f9fa;
  color: #6c757d;
  font-size: 14px;
}
.login_footer div a {
  color: #0d6efd;
  text-decoration: underline;
}
.login_footer div a:hover {
  color: #0a58ca;
  text-decoration: underline;
}
